version: '3.8'
services:
  db:
    image: postgres:18.1-alpine3.23
    restart: always
    networks:
      - internal
    expose:
      - "5432"
    volumes:
      - ./.postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: pbuf
      POSTGRES_PASSWORD: ${PBUF_POSTGRES_PASSWORD:-pbuf}
      POSTGRES_DB: pbuf_registry
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready", "-d", "pbuf_registry" ]
      interval: 5s
      timeout: 10s
      retries: 5
  registry-nginx:
    image: nginx:alpine
    restart: always
    depends_on:
      - pbuf-registry
    networks:
      - internal
    expose:
      - "80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
  pbuf-registry:
    image: ghcr.io/pbufio/registry:${REGISTRY_VERSION:-v0.4.1}
    restart: always
    depends_on:
      - db
    networks:
      - internal
    expose:
      - "8080"
    ports:
      - "6777:6777"
      - "127.0.0.1:8082:8082"
    healthcheck:
      test: wget -O - http://localhost:8082/healthz || exit 1
      interval: 5s
      timeout: 10s
      retries: 5
    volumes:
      - ./gen/certs:/app/certs
    environment:
      DATA_DATABASE_DSN: "postgres://pbuf:${PBUF_POSTGRES_PASSWORD:-pbuf}@db:5432/pbuf_registry?sslmode=disable"
      SERVER_GRPC_TLS_ENABLED: "true"
      SERVER_GRPC_TLS_CERTFILE: /app/certs/server-cert.pem
      SERVER_GRPC_TLS_KEYFILE: /app/certs/server-key.pem
      SERVER_GRPC_AUTH_ENABLED: "true"
      SERVER_GRPC_AUTH_TYPE: static-token
      SERVER_HTTP_AUTH_ENABLED: "true"
      SERVER_HTTP_AUTH_TYPE: static-token
      SERVER_STATIC_TOKEN: ${SERVER_STATIC_TOKEN}
    command: >
      sh -c "/app/pbuf-migrations && /app/pbuf-registry"
  pbuf-registry-compaction:
    image: ghcr.io/pbufio/registry:${REGISTRY_VERSION:-v0.4.1}
    restart: always
    depends_on:
      - db
      - pbuf-registry
    networks:
      - internal
    ports:
      - "127.0.0.1:8083:8082"
    healthcheck:
      test: wget -O - http://localhost:8082/healthz || exit 1
      interval: 5s
      timeout: 10s
      retries: 5
    environment:
      DATA_DATABASE_DSN: "postgres://pbuf:${PBUF_POSTGRES_PASSWORD:-pbuf}@db:5432/pbuf_registry?sslmode=disable"
    command: >
      sh -c "/app/pbuf-registry compaction"
  pbuf-registry-protoparser:
    image: ghcr.io/pbufio/registry:${REGISTRY_VERSION:-v0.4.1}
    restart: always
    depends_on:
      - db
      - pbuf-registry
    networks:
      - internal
    ports:
      - "127.0.0.1:8084:8082"
    healthcheck:
      test: wget -O - http://localhost:8082/healthz || exit 1
      interval: 5s
      timeout: 10s
      retries: 5
    environment:
      DATA_DATABASE_DSN: "postgres://pbuf:${PBUF_POSTGRES_PASSWORD:-pbuf}@db:5432/pbuf_registry?sslmode=disable"
    command: >
      sh -c "/app/pbuf-registry proto-parsing"
  pbuf-registry-ui:
    image: ghcr.io/pbufio/registry-ui:0.4.1
    restart: always
    depends_on:
      - registry-nginx
    networks:
      - internal
    ports:
      - "80:80"
    environment:
      API_BASE_URL: http://registry-nginx
      API_TOKEN: ${SERVER_STATIC_TOKEN}

networks:
  internal: